/*

    En este archivos creamos los estilos del componente aside. 

*/

.aside {
    display: flex;
    flex-direction: column;
    background-color: var(--color-negro);
    border-radius: 5px;
}

.aside-foto {
    position: relative;
}

.aside-texto {
    line-height: 1.75;
    padding: .5rem;
    font-size: var(--letra-p);
    color: var(--color-blanco);
}

.aside-texto p {
    margin: 0;
}

.aside-estrella {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--color-principal);
}