/*

    En este archivos creamos los estilos del componente grilla. 

*/


.grilla {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    grid-template-columns: 1fr;
}

.grilla-album {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grilla-album a {
    position: relative;
}

.grilla-estrella {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 1.5rem;
    color: var(--color-principal);
    cursor: pointer;
}

@media screen and (min-width: 768px){
    
    .grilla {
        grid-template-columns: 1fr 1fr;
    }

}


@media screen and (min-width: 1024px){
    
    .grilla {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 1280px){
    
    .grilla {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
    }

}