/*

    En este archivo creamos los estilos generales de todas las paginas (guia de estilo).
    Esto es para que todas las paginas se vean igual sin importar quien las creo.
    
    Por ejemplo: colores, tipografias, tamaños, etc. 
    Funcionarian como lugar para guardar como variables asi todos aplicamos lo mismo


*/

:root {
  /*Colores*/
  --color-principal: #ffa500;
  --color-principal-claro: #ffa529;
  --color-principal-oscuro: #e17600;
  --color-exito: #3fe1b0;
  --color-error: #ff6a75;
  --color-informacion: #ffea80;
  --color-blanco: #ffffff;
  --color-blanco-opacidad-1: #ffffff1a;
  --color-blanco-opacidad-2: #ffffff33;

  --color-negro: #101010;
  --color-gris: #727272;
  --color-gris-claro: #d6d6d6;
  --color-gris-oscuro: #454545;

  /*Tipografia*/
  --fuente-encabezados: Verdana, Geneva, Tahoma, sans-serif;
  --fuente-parrafos: Verdana, Geneva, Tahoma, sans-serif;

  /*Tamaños*/
  --letra-h1: 3.5rem;
  --letra-h2: 3rem;
  --letra-h3: 2.5rem;
  --letra-h4: 2rem;
  --letra-h5: 1.5rem;
  --letra-h6: 1.25rem;

  --letra-p-grande: 1.125rem;
  --letra-p: 1rem;
  --letra-p-pequeño: 0.875rem;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--fuente-parrafos);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.body {
  background: rgb(17, 17, 17);
  background: radial-gradient(
    circle,
    rgba(17, 17, 17, 1) 50%,
    rgba(34, 34, 34, 1) 100%
  );

  min-height: 100vh;
  margin: 0.5rem;
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    "header"
    "barra-lateral"
    "main"
    "footer";
}

.barra-lateral {
  grid-area: barra-lateral;
}

main {
  grid-area: main;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.grilla-estrella {
  position: absolute;
  top: .5rem;
  right: .5rem;
  font-size: 1.5rem;
  color: var(--color-principal);
  cursor: pointer;
}

.container {
    max-width: 90%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (width >= 1024px) {
  .body {
    grid-template-columns: 300px 3fr;
    grid-template-areas:
      "header      header"
      "barra-lateral        main"
      "barra-lateral       main"
      "footer      footer";
  }
}
