/*

    En este archivo creamos los estilos especificos de la pagina buscar. 

*/


.body {
    background-color: var(--color-negro);
    min-height: 100vh;
    display: grid;
    grid-template-areas:    "header"
                            "barra-lateral"
                            "main"
                            "footer";
}


@media screen and (width >= 768px) {
    .body {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:    "barra-lateral      header"
                                "barra-lateral        main"
                                "barra-lateral       main"
                                "footer      footer";
    } 
}

