/*

    En este archivo creamos los estilos especificos de la pagina registro. 

*/
.body {
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.contenedor {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.index-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.index-form input {
  padding: 1rem 0.5rem;
}

.caja {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

h1 {
  color: #e17600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.estilo {
  color: #ffa529;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton {
  background-color: var(--color-gris-oscuro); /* Color de fondo gris oscuro */
  color: var(--color-gris-claro); /* Color de texto blanco */
  border: none; /* Sin bordes */
  border-radius: 10px; /* Bordes redondeados */
  margin: 20px;
  padding: 20px 50px; /* Espaciado interior */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}
.boton:hover {
  background-color: var(
    --color-gris
  ); /* Color de fondo más claro en el hover */
}

.index-enlace {
  color: var(--color-principal);
  text-decoration: none;
  text-align: center;
}
