/*

    En este archivo creamos los estilos especificos de la pagina pagar. 

*/

.body{
    grid-template-columns: 1fr;
    grid-template-areas:    "header"
                            "main"
                            "footer";
}

.cajaCentrada{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.planPagar{
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-informacion);
    padding-top: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
}

.cajitas{
    display: grid;
    grid-template-columns: 270px 270px;
    margin: 40px;
}

.tituloCentrado{
    display: flex;
    width: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.img{
    width: 80%px;
    border-radius: 5px;
    margin: 10px 0;
}

.precio{
    margin: 15px 0 0 20px;
    font-style: italic;
    font-size:x-large;
}

.boton{
    background-color: var(--color-gris-oscuro); 
    color: var(--color-gris-claro);
    border: none; 
    border-radius: 10px; 
    margin: 20px;
    padding: 20px; 
    cursor: pointer;
    width: 150px;
}
.boton:hover {
    background-color: var(--color-gris);
}

.cajota{
    display: flex;
    color: #FFFFFF;
    padding: 15px 0;
}

.cajasValue{
    background-color: #a0a0a0;
    border-color: #101010;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    flex-wrap: wrap;
}

.nombreCampo{
    margin-top: 30px;
}

article{
    padding: 10px;
}

::placeholder{
    color: #454545;
}

.modal {
    position: fixed;
    width: 40%;
    /* height: 30%; */
    background-color: rgba(0, 0, 0, 0.5); 
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.contenidoModal {
    background-color: #fff; 
    border: 1px solid #888;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: auto;
}
.btnModal {
    background-color: #ffa500; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.txtModal {
    color: #000; 
    font-size: 18px;
}

.btnModal:hover {
    background-color: #ff8500; 
}

@media screen and (width <= 1024px) { 
    .planPagar{
        width: 600px;
        padding-left: 25px;
        justify-content: center;
        padding-right: 0px;
    }

    .cajasValue{
        display: flex;
        flex-wrap: wrap;
        width: 240px;
    }

    .boton{
        border-radius: 10px; 
        margin: 15px;
        padding: 20px; 
        cursor: pointer;
        width: 100px;
    }

    .cajitas{
        display: grid;
        grid-template-columns: 270px 270px;
        grid-template-rows: 50px 50px;
    }

    .modal{
        width: 70%;
    }
}

@media screen and (width <= 768px) { 
    .planPagar{
        width: 300px;
        padding-left: 25px;
        justify-content: center;
        padding-right: 0px;
    }

    .cajasValue{
        display: flex;
        flex-wrap: wrap;
        width: 240px;
    }

    .boton{
        border-radius: 10px; 
        margin: 15px;
        padding: 20px; 
        cursor: pointer;
        width: 100px;
    }

    .cajitas{
        display: grid;
        grid-template-columns: 270px;
        grid-template-rows: 50px;
    }

}