/*

    En este archivo creamos los estilos especificos de la pagina registro. 

*/
.contenedor {
    display: grid;
    margin: auto;
    justify-content: center; 
    align-items: center;
    
}

.caja{

    display: flex;
    gap: 1rem;
    justify-content: space-around;
    
}

.celda1{
    background-color: rgb(167, 167, 201) ;
    margin-left: 300px;
    margin-top: 50px;

    border: 2px solid var(--color-principal-oscuro) ;
    padding: 2%;
    

}

.celda2{
   margin-left: 350px;
    margin-top: 50px;
    background-color:rgb(167, 167, 201) ;
    border: 2px solid var(--color-principal-oscuro);
    padding: 2%;
}

h1{

    color:#e17600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
 .estilo{

    color: #ffa529;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }



 .boton{
    background-color: var(--color-gris-oscuro); /* Color de fondo gris oscuro */
    color: var(--color-gris-claro); /* Color de texto blanco */
    border: none; /* Sin bordes */
    border-radius: 10px; /* Bordes redondeados */
    margin: 20px;
    padding: 20px 50px; /* Espaciado interior */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}
.boton:hover {
    background-color: var(--color-gris); /* Color de fondo más claro en el hover */
}