<!--

    En esta pagina, van a estar los componentes:
        footer

    pero ademas creamos el formulario en la misma pagina

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="../../style/normalize.css">
    <link rel="stylesheet" href="../../style/general.css">
</head>
<body>

    <h1>Iniciar Sesion</h1>

    <a href="../../index.html">Iniciar Sesion</a>
    <br>
    <a href="registro.html">Registrarme</a>
    
</body>
</html>