<!--

    En esta pagina, van a estar los componentes:
        header, menu, aside, reproductor, tabla, footer

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musica Sonando</title>
</head>
<body>

    <h1>Musica Sonando</h1>

    <a href="perfil.html">Perfil de usuario</a>
    <br>
    <a href="iniciar-sesion.html">Cerrar sesion</a>
    <br>
    <h2>Menu</h2>
        <a href="../index.html">Home</a>
        <br>
        <a href="buscar.html">Buscar</a>
        <br>
        <a href="mis-albums.html">Mis Albums</a>
        <br>
        <a href="canciones-favoritas.html">Mis Favoritas</a>
        <br>
    <h2>Canciones</h2>
        <a href="#">Cancion 1</a><!--Deberia cambiar el contenido del aside-->
        <br>
    
</body>
</html>