<!--

    En esta pagina, van a estar los componentes:
        header, footer

    pero ademas creamos la descripcion del plan y el formulario de pago en la misma pagina.

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagar</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="../../style/normalize.css">
    <link rel="stylesheet" href="../../style/general.css">
</head>
<body>
    
    <h1>Pagar</h1>

    <a href="perfil.html">Perfil de usuario</a>
    <br>
    <a href="iniciar-sesion.html">Cerrar sesion</a>
    <br>
    <h2>Botones</h2>
        <a href="../../index.html">Cancelar</a>
        <br>
        <a href="../../index.html">Avanzar</a>
        <br>

</body>
</html>