<!--

    En esta pagina, van a estar los componentes:
        header, footer

    pero ademas creamos el formulario de perfil en la misma pagina
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="../../style/normalize.css">
</head>
<body>

    <h1>Perfil</h1>

    <a href="perfil.html">Perfil de usuario</a>
    <br>
    <a href="iniciar-sesion.html">Cerrar sesion</a>
    <br>
    <h2>Formulario</h2>
        <a href="premium.html">Premium</a>
        <br>
        <a href="iniciar-sesion.html">Eliminar Usuario</a>
        <br>
        <a href="../index.html">Volver al home</a>
        <br>
        <a href="perfil.html">Guardar</a>
        <br>
    
    
</body>
</html>