<!--

    En esta pagina, van a estar los componentes:
        header, footer

    pero ademas creamos las columas de los 3 planes en la misma pagina

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="../../style/normalize.css">
    <link rel="stylesheet" href="../../style/general.css">
    <link rel="stylesheet" href="../../style/paginas/premium.css">

    <link rel="stylesheet" href="../../style/componentes/header.css">
    <link rel="stylesheet" href="../../style/componentes/footer.css">

    <script src="https://kit.fontawesome.com/ed2ba7d635.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <header class="header">
        <a href="#" class="header-menu-mobile">
            <i class="fa-solid fa-bars"></i>
        </a>
        <div class="header-titulo">
            <a href="#">
                <h2 class="header-encabezado">Planes premium</h2>
            </a>
        </div>
        <div class="header-avatar">
            <a href="views/paginas/iniciar-sesion.html" class="header-cerrar-mobile">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
            <div class="header-texto">
                <p class="header-usuario">Nombre Usuario</p>
                <a href="../../index.html" class="header-cerrar">Cerrar Sesion</a>
            </div>
            <a href="perfil.html" class="header-perfil">
                <i class="fa-solid fa-user"></i>
            </a>
        </div>
    </header>

    <main>
        <form action="pagar.html" method="get">
        <section class="contenedor">
            
            <div class="plan">
                <img src="../../assets/img/PlanMensual.jpg" alt="Plan mensual">
                <p class="descripcion">Disfrutá de tus albumes y canciones favoritas sin anuncios</p>
                <div class="item">
                    <p>✓ Música sin anuncios</p>
                    <p>✓ Escuchá tus canciones en cualquier lugar, incluso sin conexión</p>
                    <p>✓ Reproducción on-demand</p> 
                    <p>✓ Prepagá o suscribite</p>
                </div>
                <p>abono mensual de solo</p>
                <p class="precio">$900</p>
                <input type="radio" name="plan" value="mensual">
            </div>
            <div class="plan">
                <img src="../../assets/img/PlanAnual.jpg" alt="Plan anual">
                <p class="descripcion">Disfrutá de tus albumes y canciones favoritas sin anuncios</p>
                <div class="item">
                    <p>✓ Música sin anuncios</p>
                    <p>✓ Escuchá tus canciones en cualquier lugar, incluso sin conexión</p>
                    <p>✓ Reproducción on-demand</p> 
                    <p>✓ Prepagá o suscribite</p>
                </div>
                <p>abono anual de solo</p>
                <p class="precio">$9000</p>
                <input type="radio" name="plan" value="anual">
            </div>
            <div class="plan">
                <img src="../../assets/img/PlanInfinito.jpg" alt="Plan infinito">
                <p class="descripcion">Disfrutá de tus albumes y canciones favoritas sin anuncios </p>
                <div class="item">
                    <p>✓ Música sin anuncios</p>
                    <p>✓ Escuchá tus canciones en cualquier lugar, incluso sin conexión</p>
                    <p>✓ Reproducción on-demand</p> 
                    <p>✓ Prepagá o suscribite</p>
                </div>
                <p>abono único de solo</p>
                <p class="precio">$15000</p>
                <input type="radio" name="plan" value="infinito">
            </div>
        </section>

        <section class="botones">
            <a href="inicio.html">
                <input type="button" class="boton" value="Cancelar">
            </a>
            <!-- <a href="pagar.html"> -->
                <!-- <button class="boton">Avanzar</button> -->
                <input type="submit" class="boton" value="Avanzar">
            <!-- </a> -->
        </section>
    </form>
    </main>

    <!-- Componente FOOTER -->
    <footer class="footer">
        <div class="footer-integrante">
            <h3 class="footer-nombre">Brian</h3>
            <h3 class="footer-nombre">Klehr</h3>
            <p class="footer-dni">41.026.580</p>
            <a href="https://github.com/Sur4x" target="_blank" class="footer-icono">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <div class="footer-integrante">
            <h3 class="footer-nombre">Alexander</h3>
            <h3 class="footer-nombre">Funes</h3>
            <p class="footer-dni">34.117.699</p>
            <a href="https://github.com/javierfunes2018" target="_blank" class="footer-icono">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <div class="footer-integrante">
            <h3 class="footer-nombre">Antonella</h3>
            <h3 class="footer-nombre">Politi</h3>
            <p class="footer-dni">31.492.164</p>
            <a href="https://github.com/AntonellaPoliti" target="_blank" class="footer-icono">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <div class="footer-integrante">
            <h3 class="footer-nombre">Nahuel</h3>
            <h3 class="footer-nombre">Esposito</h3>
            <p class="footer-dni">43.862.624</p>
            <a href="https://github.com/Nahuel0911" target="_blank" class="footer-icono">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <div class="footer-integrante">
            <h3 class="footer-nombre">Gustavo</h3>
            <h3 class="footer-nombre">Miño</h3>
            <p class="footer-dni">38.126.357</p>
            <a href="https://github.com/gus-emma-uni" target="_blank" class="footer-icono">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <div class="footer-integrante">
            <h3 class="footer-nombre">Camila</h3>
            <h3 class="footer-nombre">Marendazzo</h3>
            <p class="footer-dni">43.054.264</p>
            <a href="https://github.com/camilamarendazzo" target="_blank" class="footer-icono">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </footer>
    <!-- Componente FOOTER -->


</body>
</html>