<!--

    En esta pagina, van a estar los componentes:
        header, footer

    pero ademas creamos las columas de los 3 planes en la misma pagina

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="../../style/normalize.css">
    <link rel="stylesheet" href="../../style/general.css">
    <link rel="stylesheet" href="../../style/paginas/premium.css">
</head>

<body>
    
    <h1>Premium</h1>

    <a href="perfil.html">Perfil de usuario</a>
    <br>
    <a href="iniciar-sesion.html">Cerrar sesion</a>
    <br>

    <section class="contenedor">
        <div>  
            <h3>Plan mensual</h3>
            <img src="img/foto.jpg">
            <p>Descripcion del plan mensual</p>
        </div>
        <div>  
            <h3>Plan Anual</h3>
            <img src="img/foto.jpg">
            <p>Descripcion del plan anual</p>
        </div>
        <div>  
            <h3>Plan infinito</h3>
            <img src="img/foto.jpg">
            <p>Descripcion del plan infinito</p>
        </div>
    </section>

    <h2>Botones</h2>
        <a href="../../index.html">Cancelar</a>
        <br>
        <a href="pagar.html">Avanzar</a>
        <br>
        

</body>
</html>