<!--

    En esta pagina, van a estar los componentes:
        header, footer

    pero ademas creamos las columas de los 3 planes en la misma pagina

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="../../style/normalize.css">
    <link rel="stylesheet" href="../../style/general.css">
    <link rel="stylesheet" href="../../style/paginas/premium.css">
</head>

<body>
    
    <h1>Premium</h1>

    <a href="perfil.html">Perfil de usuario</a>
    <br>
    <a href="iniciar-sesion.html">Cerrar sesion</a>
    <br>

    <section class="contenedor">
        <div class="plan">  
            <h3>PLAN MENSUAL</h3>
            <img src="../../assets/img/disco1.jpg">
            <p class="descripcion">Disfrutá de tus albumes y canciones favoritas sin anuncios con un abono mensual final de solo</p>
            <p class="precio">$900</p>
            <input type="radio">
        </div>
        <div class="plan">  
            <h3>PLAN ANUAL</h3>
            <img src="../../assets/img/disco2.jpg">
            <p class="descripcion">Disfrutá de tus albumes y canciones favoritas sin anuncios con un abono anual final de solo</p>
            <p class="precio">$9000</p>
            <input type="radio">
        </div>
        <div class="plan">  
            <h3>PLAN INFINITO</h3>
            <img src="../../assets/img/disco3.jpg">
            <p class="descripcion">Disfrutá de tus albumes y canciones favoritas sin anuncios con un abono único de solo</p>
            <p class="precio">$15000</p>
            <input type="radio">
        </div>
    </section>

    <h2>Botones</h2>
        <a href="../../index.html">Cancelar</a>
        <br>
        <a href="pagar.html">Avanzar</a>
        <br>
        

</body>
</html>