<!--

    En esta pagina, van a estar los componentes:
        header, footer

    pero tambien creamos el formulario de registro en la misma pagina. (Aunque es similar a la pagina PERFIL)
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="../../style/normalize.css">
    <link rel="stylesheet" href="../../style/general.css">
    <link rel="stylesheet" href="../../style/componentes/footer.css">
    <link rel="stylesheet" href="../../style/componentes/header.css">

 
</head>

<body>

    <header class="header">
        <a href="#" class="header-menu-mobile">
            <i class="fa-solid fa-bars"></i>
        </a>
        <div class="header-titulo">
            <h2 class="header-encabezado">SpotiLam</h2>
        </div>
        <div class="header-avatar">
            <a href="../paginas/iniciar-sesion.html" class="header-cerrar-mobile">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
            <div class="header-texto">
                <p class="header-usuario">Nombre Usuario</p>
                <a href="../paginas/iniciar-sesion.html" class="header-cerrar">Cerrar Sesion</a>
            </div>
            <a href="../paginas/perfil.html" class="header-perfil">
                <i class="fa-solid fa-user"></i>
            </a>
        </div>
    </header>

    <h1>Registrarse</h1>

    
   
    <form action="iniciar-sesion.html" method="post">
        <label for="Nombre de usuario">Usuario</label>
        <input type="text" name="Nombre de usuario" placeholder="Nombre de usuario">
        <br>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" placeholder="Ingrese contraseña">
        <br>
        <label for="password">Repetir contraseña</label>
        <input type="password" name="password" id="password" placeholder="Repita contraseña">
        <br>
        <label for="fecha">Fecha de Nacimiento</label>
        <input type="date" id="fecha" name="fecha">
        <br>
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" placeholder="Ingrese su email">
        <br>
        <!-- <input type="submit" value="Iniciar sesión"> -->
    </form>
   
    <!-- <h2>Formulario</h2> -->
        <a href="premium.html">Premium</a>
        <br>
        <a href="../../index.html">Eliminar usuario</a>
        <br>
        <a href="iniciar-sesion.html">Guardar</a>
        <br>

    
</body>
<footer class="footer">
    <div class="footer-integrante">
        <h3 class="footer-nombre">Brian</h3>
        <h3 class="footer-nombre">Klehr</h3>
        <p class="footer-dni">41.026.580</p>
        <a href="#" target="_blank" class="footer-icono">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <div class="footer-integrante">
        <h3 class="footer-nombre">Alexander</h3>
        <h3 class="footer-nombre">Funes</h3>
        <p class="footer-dni">34.117.699</p>
        <a href="#" target="_blank" class="footer-icono">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <div class="footer-integrante">
        <h3 class="footer-nombre">Antonella</h3>
        <h3 class="footer-nombre">Politi</h3>
        <p class="footer-dni">31.492.164</p>
        <a href="#" target="_blank" class="footer-icono">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <div class="footer-integrante">
        <h3 class="footer-nombre">Nahuel</h3>
        <h3 class="footer-nombre">Esposito</h3>
        <p class="footer-dni">43.862.624</p>
        <a href="#" target="_blank" class="footer-icono">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <div class="footer-integrante">
        <h3 class="footer-nombre">Gustavo</h3>
        <h3 class="footer-nombre">Miño</h3>
        <p class="footer-dni">38.126.357</p>
        <a href="https://github.com/gus-emma-uni" target="_blank" class="footer-icono">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <div class="footer-integrante">
        <h3 class="footer-nombre">Camila</h3>
        <h3 class="footer-nombre">Marendazzo</h3>
        <p class="footer-dni">43.054.264</p>
        <a href="#" target="_blank" class="footer-icono">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
</footer>



</html>