<!--

    En este componente creamos una imagen y descripcion de disco o cancion que suena o recomendacion. 

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componente Aside</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="../../style/normalize.css">
    <link rel="stylesheet" href="../../style/general.css">
</head>
<body>

    <h1>Componente Aside</h1>
    
</body>
</html>