<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moqups</title>
    

</head>
<body>
    <!-- FlexBox aqui puedas aprender 'https://flexboxfroggy.com/'-->
    <!-- con el '.' se genera el div-->
<header> 
    <h1>Inicia Sesión </h1>
</header>

    <main>
        <div>
            <form action="pantallaPrincipal.html" method="post">
                <label for="email">Usuario</label>
                <input type="email" name="email" id="email" placeholder="test@gmail.com">
                <br>
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Ingrese contraseña">
                <br>
                <input type="submit">
            </form>
        </div>
        <a href="registrar.html">Registrarme</a>
    </main>

 
<footer> 
    <div> Integrante 1 (Brian Klehr y 41026580) Integrante 3 (Antonella Politi y 31492164)  </div>
    <div> Integrante 2 (Javier Alexander Funes 34117699) Integrante 4 (Nahuel Esposito y 43862624) </div>
    </footer>
</body>
</html>