<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla Principal</title>
</head>
<body>
<style>
    .orden{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
</style>

   <header> 
    <h1> Spotilam </h1>
    <h2> Nombre del Usuario </h2><br>
    <a href="Inicio.html"> Cerrar Sesion </a>
    <img src="C:\Users\afunes\Desktop\Programacion web 1\Trabajo practico\Image\ejemplo.jpg" width="200" height="200">
   </header> 

   <nav>
    <section>
       <a href="pantallaPrincipal.html">Home</a>
    </section>
    <section>
        <a href=".html">Buscar </a>
        
    </section>
    <section>
        <a href=".html">Mis Albunes </a>
       
    </section>
    <section>
        <a href=".html"> Mis Favoritos</a>
    </section>
   </nav>

<main>
    <img src="" alt="">
 <div class="orden"> <img src="C:\Users\afunes\Desktop\Programacion web 1\Trabajo practico\Image\queen_4.jpg" alt="s" width="100">
 <img src="C:\Users\afunes\Desktop\Programacion web 1\Trabajo practico\Image\queen_4.jpg" alt="s" width="100">
 <img src="C:\Users\afunes\Desktop\Programacion web 1\Trabajo practico\Image\queen_4.jpg" alt="s" width="100">
 <img src="C:\Users\afunes\Desktop\Programacion web 1\Trabajo practico\Image\queen_4.jpg" alt="s" width="100">
 <img src="C:\Users\afunes\Desktop\Programacion web 1\Trabajo practico\Image\queen_4.jpg" alt="s" width="100">
 <img src="C:\Users\afunes\Desktop\Programacion web 1\Trabajo practico\Image\queen_4.jpg" alt="s" width="100">
 <img src="C:\Users\afunes\Desktop\Programacion web 1\Trabajo practico\Image\queen_4.jpg" alt="s" width="100">
 <img src="C:\Users\afunes\Desktop\Programacion web 1\Trabajo practico\Image\queen_4.jpg" alt="s" width="100">
 <img src="C:\Users\afunes\Desktop\Programacion web 1\Trabajo practico\Image\queen_4.jpg" alt="s" width="100"></div>
</main>

</body>
</html>