<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Pantalla Principal</title>
</head>
<body>
   <header> 
    <h1> Spotilam </h1>
    <h2> Nombre del Usuario </h2><br>
    <a href="Inicio.html"> Cerrar Sesion </a>
    <img src="C:\Users\afunes\Desktop\Programacion web 1\Trabajo practico\Image\ejemplo.jpg" width="200" height="200">
   </header> 
   <nav>
    <ul>
        <li><a href="pantallaPrincipal.html">Home</a></li>
        <li><a href="buscar.html">Buscar</a></li>
        <li><a href="albums.html">Mis Albumes</a></li>
        <li><a href="misFavoritos.html">Mis Favoritos</a></li>
    </ul>
    
   </nav>

<main>
    <img src="" alt="">
    <section>
 <div class="orden">
 <img src="/image/queen_4.jpg" alt="s" width="100">
 <img src="/image/queen_4.jpg" alt="s" width="100">
 <img src="/image/queen_4.jpg" alt="s" width="100">
 <img src="/image/queen_4.jpg" alt="s" width="100">
 <img src="/image/queen_4.jpg" alt="s" width="100">
 <img src="/image/queen_4.jpg" alt="s" width="100">
 <img src="/image/queen_4.jpg" alt="s" width="100"> 
</div>
</section>

<div class="barra">
    
</div>
</main>

</body>
</html>